.hero-container{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    z-index: 1;
    margin-top: -10px;
}
.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 0;
    background-color: blue;
    height: 40vh;
    width: 10%;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 0;
    height: 40vh;
    width: 80%;
}
.socials-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 15px;
    height: 40vh;
    width: 100%;
}
.socials-list ul li {
    margin: 10px;
    font-size: 23px;
    margin-left: -15px;
}
.socials-list ul li a {
    color: gray;
    text-decoration: none;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 0;
    height: 80vh;
    width: 10%;
    margin-top: 0px;
    z-index: 1;
}